<extend name="Public:base"/>
<block name="main">
    
<div class="am-center">
    <div class="am-container">
        <form class="am-form" method="post" data-am-validator>
          <fieldset>
            <legend>账号登录</legend>
        
            <div class="am-form-group">
              <label for="login_username">账号</label>
              <input type="text" class="" name="login_username" placeholder="输入用户名" 
                minlength="2" maxlength="16" required/>
            </div>
        
            <div class="am-form-group">
              <label for="login_password">密码</label>
              <input type="password" class="" name="login_password" placeholder="输入密码" 
                minlength="4" maxlength="24" required/>
            </div>
            
            <p><input type="submit" class="am-btn am-btn-secondary am-btn-block am-radius" name="login_submit" value="登录"></p>
            
            <p><button type="button" class="am-btn am-btn-block am-btn-success am-radius" data-am-modal="{target: '#my-xxjz'}">客户端 / 小程序</button></p>

            <p><button type="button" class="am-btn am-btn-block am-btn-default am-radius" data-am-modal="{target: '#my-popup'}">忘记密码</button></p>
            
          </fieldset>
        </form>
    </div>

    <div style="position:fixed; bottom:0; width:100%; line-height:200%; background-color: #fff; z-index: -1;">
      <div class="am-text-center am-text-secondary am-text-sm">
        <a href="__APP__/Home/Login/regist">注册账号</a>
        &nbsp;|&nbsp;
        <a href="#" data-am-modal="{target: '#my-popup-xxjzWeChat'}">小程序</a>
        <span class="am-badge am-badge-danger am-round">Hot</span>
        &nbsp;|&nbsp;
        <a href="#" data-am-modal="{target: '#my-popup'}">关于我们</a>
      </div>
    </div>


<div class="am-popup" id="my-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
        <h4 class="am-popup-title">找回用户密码</h4>
        <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-container" >
        <form class="am-form" method="post" data-am-validator>
          <fieldset>
            <div class="am-form-group">
              <label for="forget_email">邮箱</label>
              <input type="email" class="" name="forget_email" placeholder="输入邮箱" required/>
            </div>
            
            <p><input type="submit" class="am-btn am-btn-secondary am-btn-block am-radius" data-am-modal="{target: '#my-modal-loading'}"
                name="forget_submit" value="验证邮箱"></p>
            
            <p><a data-am-modal-close role="button" class="am-btn am-btn-default am-btn-block am-radius">返回登录页</a></p>
            
          </fieldset>
        </form>
    </div>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在发送邮件...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="am-popup" id="my-xxjz">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
        <h4 class="am-popup-title">客户端</h4>
        <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-container" >

      <fieldset>
        <legend>微信小程序</legend>
        <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'false' }">
          <img src="http://ol8zhns69.bkt.clouddn.com/xxjzWeChat.png?imageView2/2/w/172/h/172/interlace/1/q/100" data-rel="http://ol8zhns69.bkt.clouddn.com/xxjzWeChatW.png" alt="小歆记账 for 微信小程序"/>
        </figure>
        <div class="am-text-center">使用微信扫描此二维码，即可使用小歆记账。</div>
        <hr />
      </fieldset>

      <fieldset>
        <legend>小歆记账AUI</legend>
        <a class="am-btn am-btn-success am-btn-block am-radius" href="{$app_ios_url}">
          <i class="am-icon-apple"></i>&nbsp;苹果（停止使用）
        </a>
        <a class="am-btn am-btn-success am-btn-block am-radius" href="{$app_android_url}">
          <i class="am-icon-android"></i>&nbsp;安卓（停止维护）
        </a>
        <hr />
      </fieldset>

    </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="my-popup-xxjzWeChat">
  <div class="am-modal-dialog">
    <div class="am-modal-bd">
      <img src="http://ol8zhns69.bkt.clouddn.com/xxjzWeChat.png?imageView2/2/w/172/h/172/interlace/1/q/100" alt="小歆记账 for 微信小程序"/>
    </div>
  </div>
</div>
    
</div>

</block>