
  <header data-am-widget="header" style="background-color:#19a7f0"
          class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav">
          <a href="__APP__/Home/User/index" class="">

                <i class="am-header-icon am-icon-user"></i>
          </a>
      </div>

      <h1 data-am-widget="gotop" class="am-header-title">
          <a href="#top" class="">
            小歆记账
          </a>
      </h1>
      
    <div class="am-header-right am-header-nav" data-am-widget="menu" data-am-menu-collapse>
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <ul class="am-dropdown-toggle">
            <i class="am-header-icon am-icon-reorder" data-am-dropdown-toggle> </i>
        </ul>
        <ul class="am-dropdown-content">
            <li class=""><a href="__APP__/Home/Chart/index" class="am-icon-pie-chart" > &nbsp;年度统计</a></li>
            <li class="am-divider"></li>
            <li class=""><a href="__APP__/Home/Class/index" class="am-icon-list-ul"> &nbsp;分类管理</a></li>
            <li class="am-divider"></li>
            <li class=""><a href="__APP__/Home/User/index" class="am-icon-cog" > &nbsp;设置选项</a></li>
            <li class="am-divider"></li>
            <li class=""><a href="__APP__/Home/Login/logout" class="am-icon-sign-out"> &nbsp;退出登录</a></li>
        </ul>
      </div>
    </div>
    
    <!--<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas> -->
    <!--    <a href="javascript: void(0)" class="am-menu-toggle">-->
    <!--        <i class="am-menu-toggle-icon am-icon-bars"></i>-->
    <!--    </a>-->
    <!--    <div class="am-offcanvas" >-->
    <!--        <div class="am-offcanvas-bar am-offcanvas-bar-flip">-->
    <!--            <ul class="am-menu-nav am-avg-sm-1">-->
    <!--                <li><a href="__APP__/Home/Class/index" class="" >分类管理</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="am-menu-nav am-avg-sm-1">-->
    <!--                <li><a href="" class="" >设置选项</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="am-menu-nav am-avg-sm-1">-->
    <!--                <li><a href="__APP__/Home/Login/logout" class="" >退出登录</a></li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</nav>-->
    
  </header>
