<extend name="Public:common"/>
<block name="main">
    
    <div class="am-alert am-alert-secondary" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p><b>{$UserName}，{$Think.config.XXJZ_WELCOME}&nbsp;</b><!-- <a href="/index.php" class="am-btn-sm am-btn-warning">返回旧版</a> --></p>
    </div>
    
    <include file="Public:list_index"/>
        
    <div id="money-table" class="am-alert am-alert-secondary" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        <p class="am-text-sm">
        总收入: <font class="am-text-success money-format">{$AccountStatistic['SumInMoney']}</font> &nbsp;
        总支出: <font class="am-text-danger money-format" >{$AccountStatistic['SumOutMoney']}</font> &nbsp;
          剩余: <font class="am-text-primary money-format">{$AccountStatistic['SumInMoney']-$AccountStatistic['SumOutMoney']}</font> 
          <span class="am-badge am-round" style="margin-left: 6px;">不含转账</span>
        </p>

    </div>
    
    <include file="Public:list_account"/>
</block>