<table class="am-table am-table-bordered am-table-radius am-table-striped">
    <thead>
        <tr>
            <th>统计</th>
            <th>本日</th>
            <th>本月</th>
            <th>本年</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>支出</td>
            <td>{$OutMoneyToday}</td>
            <td>{$OutMoneyMonth}</td>
            <td>{$OutMoneyYear}</td>
        </tr>
        <tr>
            <td>收入</td>
            <td>{$InMoneyToday}</td>
            <td>{$InMoneyMonth}</td>
            <td>{$InMoneyYear}</td>
        </tr>
        <tr class="am-active">
            <td>剩余</td>
            <td>{$InMoneyToday-$OutMoneyToday}</td>
            <td>{$InMoneyMonth-$OutMoneyMonth}</td>
            <td>{$InMoneyYear-$OutMoneyYear}</td>
        </tr>
    </tbody>
</table>